.contactTitel {
  color: #676c4d;
  font-size: 32px;
  font-weight: 900;

  white-space: nowrap;
  position: absolute;
  width: min-content;
  height: min-content;

  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.textContact {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 377px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateX(-50%);
}

.miauw1,
.miauw2 {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  font-family: Switzer, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
